
<section id="footer">
    <div class="container-fluid cf-footer">
        <div class="row">
            <div class="col-md-3">
                <img src="/images/logo.png" alt="" class="footerLogo">
            </div>
            <div class="col-md-3">
             <h5 class="footerh5">Useful Links</h5>
             <ul class="list-group">
                <li class="list-group-item"><a href="/shop">Shop</a></li>
                <li class="list-group-item"><a href="#aboutUs">About Us</a></li>
                <li class="list-group-item"><a href="#dosdonts">Dos & Donts</a></li>
            </ul>
            </div>
            <div class="col-md-3">
                <h5 class="footerh5">Contact</h5>
                <ul class="list-group">
                    <li class="list-group-item"><a href="https://wa.me/916383841383"><i class="bi bi-whatsapp"></i> 63 83 84 13 83</a></li>
                    <li class="list-group-item"><a href="mailto: thamarayan@gmail.com"><i class="bi bi-envelope-fill"></i> thamarayan@gmail.com</a></li>
                    <li class="list-group-item"><a href="#"><i class="bi bi-currency-rupee"></i> UPI ID: 9500681403@UPI</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <img src="/images/myQR.jpeg" alt="" class="qrImg">
            </div>
            <div class="col-md-12">
                <p class="disclaimerP">
                    As per 2018 supreme court order, online sale of firecrackers are not permitted! We value our customers and at the same time, respect jurisdiction. We request you to add your products to the cart and submit the required crackers through the enquiry button. We will contact you within 24 hrs and confirm the order through WhatsApp or phone call. Please add and submit your enquiries and enjoy your Diwali with Crackers World. Crackers World as a company following 100% legal & statutory compliances and all our shops, go-downs are maintained as per the explosive acts. We send the parcels through registered and legal transport service providers as like every other major companies in Sivakasi is doing so.</p>
            </div>
            
        </div>
        
    </div>
    <div class="col-md-12 footerLastDiv">
        <p> © 2022, Crackers World. Site Created & Maintained by <a href="https://wa.me/+916383841383" target="_blank">Srinidhi Softwares</a></p>
    </div>
</section>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>

</body>
</html>