<%- include('./partials/header.ejs') %>

<section id="index">
  <div class="container-fluid cf-index1">
    <div class="row indexRow">
      <div class="col-md-6 leftCol">
        <div class="contents">
          <h2>Let's <span>Celebrate</span> <br> This <span>Diwali</span></h2>
        <h3>with <span>Crackers World</span></h3>
        <p>Your Easiest Crackers Shopping Destination</p>
        <a role="button" href="/shop" class="btn btn-sm btn-warning shopBtn"><i class="bi bi-cart-plus-fill"></i> Let's Shop</a>
        </div>
        
      </div>
      <div class="col-md-6 rightCol">
        <img src="/images/kids.png" class="indexImg" alt="">
        <div class="colorBox">
        </div>
      </div>
    </div>
  </div>
</section>   

<section id="how">
  <div class="container-fluid cf-how">
    <div class="row">
      <p class="howP"><span>Diwali Cracker Purchase</span> in the easiest way <br> <i class="bi bi-arrow-down-square-fill"></i></p>
      <div class="col-md-3 cols">
        <i class="bi bi-check2-square icons"></i>
        <h3>Choose Requirements</h3>
        <p>Choose the Items and quantity from the pricelist </p>
      </div>
      <div class="col-md-3 cols">
        <i class="bi bi-receipt-cutoff icons"></i>
        <h3>Get Estimate</h3>
        <p>Get your estimate bill copy through email</p>
      </div>
      <div class="col-md-3 cols">
        <i class="bi bi-cash-coin icons"></i>
        <h3>Pay Online</h3>
        <p>Pay the bill value to the mentioned payment ways in estimate copy</p>
      </div>
      <div class="col-md-3 cols">
        <i class="bi bi-gift-fill icons"></i>
        <h3>Get Order</h3>
        <p>Get your Order delivered within few days</p>
      </div>
    </div>
  </div>
</section>

<section id="aboutUs">
  <div class="container-fluid cf-au">
    <div class="row">
      <div class="col-md-12">
        <h2 class="au-h2">Welcome to Crackers World</h2>
        <p class="au-p">Diwali will not be complete without bursting crackers. To complete this grand festival of ours, every year, We, Sivakasi People, took extra care in manufacturing crackers to make your festival much more colorful and joyful. We are one such 
          Sivakasi people, who are fully focussed to give you the best of best crackers from Sivakasi. Happy for your Arrival. Hope, We will stand by our words and give you a complete satisfactory customer experience. Enjoy shopping at Crackers World.
        </p>
        <p>With Love,
          Crackers World.
        </p>
        <img src="/images/logo.png" alt="" class="au-logo" style="width:10%;">
      </div>
    </div>
  </div>
</section>

<section id="paymentDetails">
  <div class="container-fluid cf-paymentDetails">
    <div class="row">
      <h2>Payment Details</h2>
      <div class="col-md-6" style="padding-top:2% !important ;">
        <table class="table">
          <tbody>
            <tr>
              <th scope="col">Account Name</th>
              <td>R Srinidhi</td>
            </tr>
            <tr>
              <th scope="col">Account Number</th>
              <td>64312200073149</td>
            </tr>
            <tr>
              <th scope="col">Account Type</th>
              <td>Savings Account</td>
            </tr>
            <tr>
              <th scope="col">Bank Name</th>
              <td>Canara Bank, Sivakasi</td>
            </tr>              
           
            <tr>
              <th scope="col">IFSC Code</th>
              <td>CNRB0016431</td>
            </tr>

          </tbody>
        </table>
      </div>
      <div class="col-md-6">
        <img src="/images/myQR.jpeg" alt="" style="width: 40%;">
        <p>UPI ID : 9500681403@UPI</p>
        <p>GPay No : 9500681403</p>
      </div>
    </div>
  </div>
</section>

<section id="dosdonts">
  <div class="container-fluid cf-dosdonts">
    <div class="row">
      <h2 class="dosH2"><span style="color: green;">Do's</span> & <span style="color: red;">Don'ts</span></h2>
      <div class="col-md-6">
        <h2 class="iconsH2"><i class="bi bi-check2"></i></h2>
        <ul class="list-group">
          <li class="list-group-item"><i class="bi bi-check2 tick"></i> Don't let the children burn crackers on their own. Prevent them from being in close proximity to crackers</li>
          <li class="list-group-item"><i class="bi bi-check2 tick"></i> Dont burn crackers barefoot, preferably wear shoes to protect your feet.</li>
          <li class="list-group-item"><i class="bi bi-check2 tick"></i> Don't use sanitiser while firing crackers. As it's alcohol based, it can spread quickly.</li>
          <li class="list-group-item"><i class="bi bi-check2 tick"></i> If the firecrackers are new for you, don't burst without reading instructions.</li>
        </ul>
        
      </div>
      <div class="col-md-6">
        <h2 class="iconsH2"><i class="bi bi-x-lg"></i></h2>
        <ul class="list-group">
          <li class="list-group-item"><i class="bi bi-x-lg cross"></i> Tie your hair, don't let it hang near the cracker. Don't burn crackers in hand or throw it at anybody.</li>
          <li class="list-group-item"><i class="bi bi-x-lg cross"></i> Remove all waste stored near the residence or on the terrace to prevent accidental fire. Also close doors and windows properly to prevent the entry of any cracker.</li>
          <li class="list-group-item"><i class="bi bi-x-lg cross"></i> If a skin area gets burnt, wash it gently with cold water, apply ointment and seek medical help.</li>
          <li class="list-group-item"><i class="bi bi-x-lg cross"></i> Keep water or sand nearby to douse fire in case of emergency.</li>
          <li class="list-group-item"><i class="bi bi-x-lg cross"></i> Wear cotton clothes, avoid synthetic clothes that catch fire quickly.</li>
          <li class="list-group-item"><i class="bi bi-x-lg cross"></i> Always burst crackers in the open and a bit away from the structures.</li>
          <li class="list-group-item"><i class="bi bi-x-lg cross"></i> Instead of an open fire (matchstick or lighter), prefer an incence stick or sparkler to get some time to get away.</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<%- include('./partials/footer.ejs') %>
