<%- include('./partials/header.ejs') %>

<section>
    <div class="container-fluid cf-success">
        <div class="row">
            <div class="col-md-12">
                <h4>Thank You for your valuable query.</h4>
                <h6>Please <span style="color:red; font-weight:bold">check your mail</span> for the Estimate.</h6>
                <h6><a href="https://wa.me/916383841383" style="text-decoration: none;color:red"><i class="bi bi-whatsapp"></i> 63 83 84 13 83</a> for further details</h6>
                <a href="/shop" role="button" class="btn btn-warning btn-sm">Shop again?</a>
            </div>
        </div>
    </div>
</section>

<%- include('./partials/footer.ejs') %>